# Editor artifacts
.vscode/
# MacOS artifacts
.DS_Store
Thumbs.db
# Local Terraform files
/terraform/terraform-cloud/.terraform/
/terraform/terraform-cloud/.terraform.lock.hcl
/terraform/terraform-cloud/terraform.tfstate
/terraform/terraform-cloud/terraform.tfstate.backup
/terraform/terraform-cloud/*.json
# Credentials
*account.json
sshkey*
privkey*
pubkey*
id_rsa*
my.bootstrap.env
# vscode-sops
.decrypted~*.yaml
#temporary sops and encrypted secrets files
/tmpl/
#Sensitive Bootstrap Environment Variables
bootstrap.env
