---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: observability
spec:
  interval: 5m
  chart:
    spec:
      renovate: registryUrl=https://grafana.github.io/helm-charts
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: grafana
      version: 6.16.9
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/grafana
    replicas: 1
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_SECOND: "hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_MINUTE: "hh:mm a"
      GF_DATE_FORMATS_INTERVAL_HOUR: "DD/MM hh:mm a"
      GF_DATE_FORMATS_INTERVAL_DAY: "DD/MM"
      GF_DATE_FORMATS_INTERVAL_MONTH: "MM-YYYY"
      GF_DATE_FORMATS_INTERVAL_YEAR: "YYYY"
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      GF_AUTH_DISABLE_LOGIN_FORM: true
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
      #auth.basic:
        #disable_login_form: false
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-prometheus.observability:9090
            isDefault: true
            editable: true
          - name: InfluxDB
            type: influxdb
            access: proxy
            url: http://influxdb.apps:8086
            secureJsonData:
              token: yUi9_V9Zorm3T-JHBMZBnSl2Qhwf7JnrdrnOUT51zTcDvOBe2GPfvzn3ISTlhN9nT9tWYcPfMaM6I5rweZ3FVA==
            jsonData:
              version: Flux
              organization: oep
              defaultBucket: home_assistant
            editable: true
            basicAuth: false
          - name: Loki
            type: loki
            access: proxy
            url: http://loki.observability:3100
            editable: true
    dashboards:
      default:
        # # Ref: https://grafana.com/grafana/dashboards/12175
        # calico-felix:
        #   gnetId: 12175
        #   revision: 5
        #   datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/2842
        #ceph-cluster:
          #gnetId: 2842
          #revision: 14
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/5336
        #ceph-osd:
          #gnetId: 5336
          #revision: 5
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/5342
        #ceph-pools:
          #gnetId: 5342
          #revision: 5
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/7845
        #zfs:
          #gnetId: 7845
          #revision: 4
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/13502
        #minio:
          #gnetId: 13502
          #revision: 10
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11315
        #unifi-client-insights:
          #gnetId: 11315
          #revision: 8
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11311
        #unifi-network-sites:
          #gnetId: 11311
          #revision: 4
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11314
        #unifi-uap-insights:
          #gnetId: 11314
          #revision: 9
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11312
        #unifi-usw-insights:
          #gnetId: 11312
          #revision: 8
          #datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/13665
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
          datasource: Prometheus
        #blocky:
          #url: https://raw.githubusercontent.com/0xERR0R/blocky/v0.16/docs/blocky-grafana.json
          #datasource: Prometheus
        #apc-smart-ups-1500:
          #url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/apc-smart-ups-1500-snmp.json
          #datasource: Prometheus
        #cyberpower-pdu41001:
          #url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/cyberpower-pdu41001-snmp.json
          #datasource: Prometheus
        #lidarr:
          #url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/lidarr.json
          #datasource: Prometheus
        #radarr:
          #url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/radarr.json
          #datasource: Prometheus
        #sonarr:
          #url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/sonarr.json
          #datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
    #serviceMonitor:
      #enabled: true
    ingress:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        cert-manager.io/cluster-issuer: "letsencrypt-production"
      hosts:
        - "grafana.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - "grafana.${SECRET_DOMAIN}"
          secretName: "grafana-tls"
    #serviceAccount:
      #create: true
      #autoMount: true
    persistence:
      enabled: false
